.heroBg {
  background: url(../images/beach.jpg) center center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bigText{
  margin-top: 8vh;
  font-size: 10vw;
  font-weight: 600;
  line-height: .8em;
  letter-spacing: -0.08em;
  color: #ffffff;
  height: 80vh;
}

.description {
  text-align: right;
  color: #ffffff;
  font-size: 2vw;
}

.heroBg_2 {
  background: url(../images/beach_2.jpg) center center no-repeat ;
  background-size: cover;
  left: 0;
  width: 100%;
  height: 100vh;
}

.bigText2{
  margin-top: 40vh;
  font-size: 10vw;
  text-align: center;
  font-weight: 600;
  line-height: .8em;
  letter-spacing: -0.08em;
  color: #ffffff;
}

.footer {
  z-index: 5;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: rgba(32, 32, 32, 0.7);
}

.logotype {
  background-color: #be1e2d;
  height: 120px;
  padding-left:20px;
  -webkit-transition: all .5s;
}

.logotype:hover {
  opacity:.5;
}

.logobox {
  background-color: #be1e2d;
  height: 120px;
  width: 120px;
  padding: 0px;
  float: right;  
  text-align: right;
  -webkit-transition: all .5s;
}

.logobox:hover {
  width: 100%;
  left:-200;
}

.logobox_h3 {
  width:100%;
  height: 100%;
  color: #ffffff;
  float:left;
  text-align: left;
  overflow:hidden;

}

.logotype h1 {
  font-family: helvetica;
  font-weight: 600;
  font-size: 2vw;
  color: #fff;
  padding-top:10px;
  padding-bottom: 0px;
  margin-bottom:0px;
}

.logomark {
  float: left;
  padding-right:2vw;
}

h3 {
  font-family: helvetica;
  font-size: 1em;
  color: #fff;
  padding-top:0px;
  margin-top:0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #dddddd;
  text-decoration: none;
}

ul {
  padding-top:25px;
  list-style-type: square;
}

li {
  display: inline;
  font-size: 2vw;
  font-weight: 600;
  padding-left: 9%;
  padding-top:60%;
}
.container {
  width: 90%;
}
